--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.0+cu116
torchvision==0.13.0+cu116
torchaudio==0.12.0
tensorboard
opencv-python
pyyaml
matplotlib
pandas
plyfile
pytorch_wavelets
pyqt
pywt
timm
thop
mmcv==2.2.0